<app-menu-bar></app-menu-bar>
 


<ion-content>
    

  <ion-card>
      <img src="../assets/imgs/logo.jpeg" />
    <ion-card-header>
        <ion-progress-bar type="indeterminate" color="dark" ></ion-progress-bar>
      
      <ion-card-subtitle>FULL <strong>STACK</strong>  DESARROLLADOR</ion-card-subtitle>
      <ion-card-title>PASIÓN POR <strong>APRENDER</strong>  INVESTIGAR INNOVAR DESARROLLAR</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        
        La inteligencia se demuestra no por los actos individuales, sino por saberse rodear de gente bondadosa y desinteresada
    </ion-card-content>
  </ion-card>

  
  <!-- lista de items -->
  <app-items></app-items>
  
    <!-- fab placed to the top start -->
    <ion-fab vertical="center" horizontal="start" slot="fixed" color="dark">
      <ion-fab-button color="dark">
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-fab-button>
      
        <ion-fab-list side="top">
          <ion-fab-button  (click)="openLink()" > <ion-icon  name="logo-linkedin" >  </ion-icon></ion-fab-button>

        </ion-fab-list>
        
        <ion-fab-list side="bottom">
          <ion-fab-button (click)="openLinkCvlac()" ><ion-icon name="information-circle-outline"></ion-icon></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
          <ion-fab-button (click)="openLinkPage()"><ion-icon name="link"></ion-icon></ion-fab-button>
        </ion-fab-list>
    </ion-fab>
  
    


</ion-content>


